a,article,aside,audio,b,blockquote,body,canvas,caption,code,dd,del,div,dl,dt,em,embed,fieldset,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,label,legend,li,menu,nav,object,ol,p,pre,s,section,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,tr,u,ul,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}.screen-reader-text{display:none}
*{outline: none;box-sizing:border-box;-webkit-overflow-scrolling: touch;-webkit-font-smoothing: antialiased;position: relative;}

body {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	background: #f5f5f5;
	color: #2b2b2b;
}

.animate {
	transition: all .15s ease-in-out;
}

.button {
	display: inline-block;
	padding: 15px 25px;
	background: #d2431b;
	text-decoration: none;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	font-size: 18px;
	border: 0;
}

header {
	margin: 0 auto 50px !important;
	padding: 20px 0;
	position: sticky;
	top: 0;
	z-index: 100;
	background: rgba(255,255,255,0);
}

header.scrolled {
	background: rgba(255,255,255,.8);
}

header img {
	width: 55px;
	height: 40px;
}

header h3 {
	display: inline-block;
	text-transform: uppercase;
	font-size: 18px;
	margin-left: 10px;
}

header nav {
	float: right;
	font-weight: 900;
	margin-top: 10px;
}

header nav a {
	color: #232323;
	text-decoration: none;
	padding: 20px;
	font-size: 15px;
}

header nav a:hover {
	color: #d2431b;
	border-bottom: 1px solid #d2431b;
}

.logo {
	cursor: pointer;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

#cta {
	display: flex;
}

#cta .left {
	padding: 50px 40px 0 0;
	width: 60%;
}

#cta .left .arrow {
	font-size: 72px;
	color: #d2431b;
	margin-top: 30px;
}

#cta h1 {
	font-size: 72px;
	margin-bottom: 30px;
	max-width: 650px;
	opacity: 0;
	animation: .5s ease-out .5s 1 slideIn;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#cta .left p {
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 30px;
	max-width: 650px;
	opacity: 0;
	animation: .5s ease-out 1s 1 slideIn;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#cta .left .button {
	opacity: 0;
	animation: .5s ease-out 1.5s 1 slideIn;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#cta .right {
	width: 40%;
}

#cta .right .preview {
	min-width: 100%;
	height: 500px;
	background: url('https://momentatech.s3.amazonaws.com/barrett.jpg') no-repeat center center;
	background-size: cover;
	z-index: 5;
}

#cta .right .preview .client {
	position: absolute;
	bottom: 20px;
	left: -40px;
	width: 300px;
	background: white;
	padding: 20px;
	box-shadow: 0 5px 25px rgba(0,0,0,.2);
}

#cta .right .preview .client h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

#cta .right .preview .client i {
	display: block;
	padding: 10px;
	border-radius: 50%;
	background: #d2431b;
	color: white;
	border: 5px solid white;
	position: absolute;
	top: -12px;
	right: -12px;
}

#cta .right .preview .client p {
	line-height: 18px;
}

#cta .right .preview-bg {
	position: absolute;
	min-width: 100%;
	height: 500px;
	border: 3px solid rgba(0,0,0,.1);
	left: -15px;
	top: 15px;
	z-index: 1;
}

.bg {
	clip-path: polygon(0 0, 80% 0%, 80% 100%, 0 91%);
	background-image: linear-gradient(141deg, #f5e8e5 50%, #945b5b 100%);
	position: absolute;
	top: -20px;
	left: -20px;
	width: 95%;
	height: 710px;
	z-index: -1;
}

#trusted {
	margin-top: 120px;
	display: flex;
	align-items: center;
	opacity: .6;
}

#trusted h4  {
	width: 20%;
	display: flex;
	align-items: center;
	font-size: 15px;
}

#trusted h4 span {
	display: inline-block;
	background: #333;
	height: 3px;
	width: 25px;
	margin-left: 20px;
}

#trusted .brands {
	display: flex;
	align-items: center;
	width: 80%;
}

#trusted .brands div {
	width: 33.3%;
	font-size: 18px;
	text-align: center;
}

#areas {
	margin-top: 100px;
}

#areas h2 span {
	display: block;
	background: #333;
	height: 3px;
	width: 30px;
	margin-bottom: 30px;
}

#areas h2 {
	font-size: 42px;
	margin-bottom: 40px;
}

#areas .left {
	width: 50%;
}

#areas .secondary {
	display: flex;
}

#areas .preview {
	width: 100%;
	height: 500px;
	background: url('https://momentatech.s3.amazonaws.com/pl0.jpg') no-repeat center center;
	background-size: cover;
	z-index: 5;
}

#areas .preview .client {
	position: absolute;
	bottom: 20px;
	right: -20px;
	width: 300px;
	background: white;
	padding: 20px;
	box-shadow: 0 5px 25px rgba(0,0,0,.2);
}

#areas .preview .client h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

#areas .preview .client i {
	display: block;
	padding: 10px;
	border-radius: 50%;
	background: #d2431b;
	color: white;
	border: 5px solid white;
	position: absolute;
	top: -12px;
	right: -12px;
}

#areas .preview .client p {
	line-height: 18px;
}

#areas .preview-bg {
	position: absolute;
	width: 100%;
	height: 500px;
	border: 3px solid rgba(0,0,0,.1);
	left: -15px;
	top: 15px;
	z-index: -1;
}

#areas .expertise {
	margin-left: 75px;
	max-width: 600px;
}

#areas .expertise li {
	margin-bottom: 25px;
}

#areas .expertise li strong {
	font-size: 24px;
	display: block;
	margin-bottom: 10px;
}

#areas .expertise li p {
	line-height: 24px;
}

#partners {
	background: #d2431b;
	color: white;
	padding: 100px 20px 20px;
	clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
	margin-top: 40px;
}

#partners h2 {
	font-size: 42px;
	margin-bottom: 40px;
	text-align: center;
}

.partners {
	display: flex;
	flex-wrap: wrap;
}

.partners > div {
	display: inline-block;
	color: white;
	text-decoration: none;
	width: 50%;
	padding: 50px;
}

.partners > div div {
	width: calc(100% - 230px);
	display: inline-block;
}

.partners img {
	width: 200px !important;
	height: 200px !important;
	box-shadow: -20px -20px 0 rgba(0,0,0,.1);
	margin-right: 20px;
	vertical-align: top;
}

.partners h3 {
	font-size: 24px;
	margin-bottom: 10px;
}

.partners h5 {
	margin-bottom: 20px;
}

.partners p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 20px;
}

.partners > a:hover img {
	box-shadow: -15px -15px 0 rgba(0,0,0,.2);
}

#blog {
	margin-top: 25px;
	display: flex;
}

#blog > div {
	width: 50%;
	padding: 50px;
}

#blog h6 {
	font-size: 12px;
	margin-bottom: 10px;
	opacity: .6;
	text-transform: uppercase;
}

#blog a {
	color: #2b2b2b;
	text-decoration: none;
}

#blog a:hover h2 {
	color: #d2431b;
}

#blog h2 {
	font-size: 42px;
	margin-bottom: 20px;
}

#blog p {
	font-size: 17px;
	line-height: 25px;
	margin-bottom: 20px;
}

#contact {
	padding: 50px;
	display: flex;
}

#contact h4  {
	width: 40%;
	display: flex;
	align-items: center;
	font-size: 15px;
}

#contact h4 span {
	display: inline-block;
	background: #333;
	height: 3px;
	width: 25px;
	margin-left: 20px;
}

#contact div {
	width: 80%;
	text-align: right;
}

form {
	display: flex;
	padding: 0 50px;
}

form > div:first-child {
	width: 35%;
}

form > div:last-child {
	width: 65%;
	padding-left: 40px;
}

form input, form textarea {
	width: 100%;
	font-size: 18px;
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 20px;
}

form textarea  {
	height: 105px;
}

form button {
	float: right;
}

.footer {
	border-top: 1px solid #ddd;
	text-align: center;
	margin-top: 25px;
	padding: 50px 25px;
	color: white;
	background: #333;
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@media (max-width: 1240px) {
	.container {
		padding: 0 40px;
	}
	#cta h1 {
		font-size: 54px;
	}
	#cta .left p {
		font-size: 17px;
		line-height: 25px;
	}
}

@media (max-width: 1000px) {
	.partners > div {
		width: 100%;
	}
}

@media (max-width: 768px) {
	#cta h1 {
		font-size: 46px;
	}
	#areas .left {
		width: 75%;
	}
	#areas .expertise {
		margin-left: 50px;
	}
	#partners {
		clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
		padding-top: 100px;
		margin-top: 20px;
	}
	.partners > a {
		width: 50%;
		padding: 35px;
	}
	.partners img {
		box-shadow: -10px -10px 0 rgba(0,0,0,.1);
	}
}

@media (max-width: 500px) {
	.container {
		padding: 0 20px;
	}
	header {
		margin-bottom: 0;
	}
	header nav {
		float: none;
		margin: 20px 0 0 -10px;
	}
	header nav a {
		padding: 10px;
		font-size: 14px;
	}
	.bg {
		left: 0;
		width: 100%;
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 91%);
	}
	#cta {
		display: block;
	}
	#cta .left {
		width: 100%;
		padding: 20px 0 0 0;
	}
	#cta .left .arrow {
		margin-top: 10px;
		font-size: 54px;
	}
	#cta h1 {
		font-size: 42px;
	}
	#cta .right {
		width: 90%;
		margin: 50px 0 0 10%;
	}
	#cta .right .preview, #cta .right .preview-bg {
		height: 400px;
	}
	#trusted {
		margin-top: 75px;
		display: block;
	}
	#trusted h4 {
		width: 100%;
	}
	#trusted .brands {
		display: block;
		width: 100%;
	}
	#trusted .brands div {
		display: block;
		width: 100%;
		text-align: left;
		margin-top: 15px;
	}
	#areas {
		margin-top: 75px;
	}
	#areas h2 {
		font-size: 36px;
	}
	#areas .secondary {
		flex-direction: column;
	}
	#areas .secondary .left {
		order: 2;
		width: 90%;
		margin: 25px 0 0 5%;
	}
	#areas .secondary .expertise {
		order: 1;
		margin-left: 0;
	}
	#partners {
		clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
		padding-top: 80px;
		margin-top: 50px;
	}
	#partners .container {
		padding: 0;
	}
	.partners > div {
		padding: 15px 15px 25px;
	}
	#partners h2 {
		margin-bottom: 20px;
	}
	#partners img {
		width: 125px !important;
		height: 125px !important;
	}
	.partners > div div {
		width: calc(100% - 155px);
	}
	#blog {
		flex-direction: column;
	}
	#blog > div {
		padding: 15px;
		width: 100%;
	}
	form {
		flex-direction: column;
	}
	form > div:first-child, form > div:last-child {
		width: 100%;
		padding-left: 0;
	}
}